<%= bootstrap_form_for(@question) do |f| %>

    <%= f.text_area :question,:rows => "1" %>
    <%= f.text_area :ans1,:rows => "1", :label =>"Answer 1" %>
    <%= f.text_area :ans2,:rows => "1", :label =>"Answer 2" %>
    <%= f.text_area :ans3,:rows => "1", :label =>"Answer 3" %>
    <%= f.number_field :correctAnswer, :label =>"Correct Answer",:min=>1, :max=>3 %>

    <%= f.hidden_field :quiz_id %>

  <div class="actions">
    <%= f.submit :class => "btn btn-large btn-primary pull-right"%>
  </div>
<% end %>

