<%= bootstrap_form_for(@quiz, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9") do |f| %>
  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(@quiz.errors.count, "error") %> prohibited this question from being saved:</h5>
      <ul>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="row" align="center">
    <div class="col">
      <%= f.text_field :title %>
      <%= f.number_field :topic, min: 1, max: 99 %> 
      <%= f.text_area :question,:rows => 1 %>
      <%= f.text_area :ans1, label: "Answer 1",:rows => 1 %>
      <%= f.text_area :ans2, label: "Answer 2",:rows => 1 %>
      <%= f.text_area :ans3, label: "Answer 3",:rows => 1 %>   
      <%= f.text_area :ans4, label: "Answer 4",:rows => 1 %>
      <%= f.number_field :correctAns, label: "Correct Answer", min: 1, max: 4 %> 
      <%= f.submit value: "Add Question" %>
    </div>  
  </div>  
</div>  
<% end %>
