<h2>Listing questions</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Topic</th>
      <th>Question</th>
      <th>Answer 1</th>
      <th>Answer 2</th>
      <th>Answer 3</th>
      <th>Answer 4</th>
      <% if current_user.admin? %>
      <th>Correct Answer</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @quizzes.order("topic asc").each do |quiz| %>
      <tr>
        <td><%= quiz.title %></td>
        <td><%= quiz.topic %></td>
        <td><%= quiz.question %></td>
        <td><%= quiz.ans1 %></td>
        <td><%= quiz.ans2 %></td>
        <td><%= quiz.ans3 %></td>
        <td><%= quiz.ans4 %></td>
        <% if current_user.admin? %>
        <td><%= quiz.correctAns %></td>
        <td><%= link_to 'Edit', edit_quiz_path(quiz) %></td>
        <td><%= link_to 'Destroy', quiz, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.admin? %>
  <%= link_to 'New Question', new_quiz_path %>
<% end %>