<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @quiz.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @quiz.level %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @quiz.topic %>
</p>

<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
