<%= bootstrap_form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.file_field :file %>
    <%= f.hidden_field :topic_id %>

  <div class="actions">
    <%= f.submit 'Upload Notes', :class => 'btn btn-large btn-primary pull-right'%>
  </div>

  <%= link_to 'Back', subject_path(current_subject.id)%>
<% end %>
