<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @note.filename %>
</p>

<p>
  <strong>Content type:</strong>
  <%= @note.content_type %>
</p>

<p>
  <strong>File contents:</strong>
  <%= @note.file_contents %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @note.topic %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
