<h4>70% needed to pass</h4>
<%= bootstrap_form_for(@quiz_attempt) do |f| %>
  <% if @quiz_attempt.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @quiz_attempt.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :quiz_id %>
  <%= f.hidden_field :mark %>
  <%= f.hidden_field :passed %>
  <%= f.hidden_field :level %>
  <%= f.hidden_field :topic_id %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer 1</th>
      <th>Answer 2</th>
      <th>Answer 3</th>
      <th>Answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>      
   <tbody>
     <% @questions.each do |question| %>
       <tr>  
         <td><%= question.question %></td>
         <td><%= question.ans1 %></td>
         <td><%= question.ans2 %></td>
         <td><%= question.ans3 %></td>
         <td><%= select_tag "user_picks[]", options_for_select([["Select One", ""], "1","2","3"]),required: true, disabled: false, 'data-id' => question.id %></td>  
         <td type="hidden"><%= check_box_tag "correct_answers[]", question.correctAnswer, true, hidden:true, :class => 'correctanswer' %></td>       
       </tr>
   </tbody>
    <% end %>  
  <div class="actions">
    <%= f.submit "Submit Attempt", :class => 'btn btn-large btn-primary pull-right'  %>
  </div><br />
<% end %>
  
  <script type="text/javascript">
    $('.correctanswer').on('click', function () {
        var dataid = $(this).val();
        if (this.checked) {
            $('select[data-id="'+ dataid +'"]').prop('disabled', false);
        } else {
            $('select[data-id="'+ dataid +'"]').prop('disabled', true);
        }
    });
  </script>
